{% extends 'base.html' %}

{% block content %}

<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ name }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    {% if name %}
        <h1> Hello {{ name }}</h1>

        <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
            <table class="table table-striped">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Favorite Food</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for our_user in our_users %}
                <tr>
                    <td>{{ our_user.id }}</td>
                    <td>{{ our_user.name }}</td>
                    <td>{{ our_user.email }}</td>
                    <td>{{ our_user.favorite_food }}</td>
                    <td><a class="btn btn-secondary btn-sm" href="{{ url_for('update', id=our_user.id) }}">Update</a></td>
                {% endfor %}
                </tr>
            </table>
        </div>

    {% else %}
    <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
        <h3>Add user</h3>
            <br>
            <form method="POST">
                {{ form.hidden_tag() }}
    
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                <br>
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <br>
                {{ form.favorite_food.label(class="form-label") }}
                {{ form.favorite_food(class="form-control") }}
                <br>
                {{ form.submit(class="btn btn-primary") }}
            </form>
    </div>
    <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
        <table class="table table-striped">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Favorite Food</th>
                <th scope="col">Actions</th>
            </tr>
            {% for our_user in our_users %}
            <tr>
                <td>{{ our_user.id }}</td>
                <td>{{ our_user.name }}</td>
                <td>{{ our_user.email }}</td>
                <td>{{ our_user.favorite_food }}</td>
                <td><a class="btn btn-secondary btn-sm" href="{{ url_for('update', id=our_user.id) }}">Update</a></td>
            {% endfor %}
            </tr>
        </table>
    </div>
            {% endif %}
</div>

{% endblock %}