{% extends 'base.html' %}

{% block content %}

<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ name }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}


            <!-- Templates -->
            <section>
                <div class="py-5">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-12 mb-4 mb-lg-0">
                      <!-- <div class="shadow rounded mb-3"> -->
                      <div class="shadow mb-3" style="border-radius: 1rem; background-color: white;">
                        <div class="row g-0">
                          <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;">
                            {% if current_user.profile_pic %}
                              <img src="{{ url_for('static', filename='img/' + current_user.profile_pic )}}" alt="Avatar" class="img-fluid my-5 rounded-circle" style="width: 100px;" />
                            {% else %}
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            {% endif %}
                            <h5>{{ current_user.name }}</h5>
                            <p>{{ current_user.username }}</p>
                            <a class="mb-5 btn btn-outline-light btn-sm" href="{{ url_for('update', id=current_user.id) }}">Edit Profile</a>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body p-4">
                              <h6>Informasi</h6>
                              <hr class="mt-0 mb-4">
                              <div class="row pt-1">
                                
                                <div class="col-6 mb-3">
                                  <h6>Email</h6>
                                  <p class="text-muted">{{ current_user.email }}</p>
                                </div>
                                <div class="col-6 mb-3">
                                  <h6>Organization</h6>
                                  <p class="text-muted">{{ current_user.organization }}</p>
                                </div>
                              </div>
                              <p>Tentang <em>{{ current_user.name }}</em></p>
                              <hr class="mt-0 mb-4">
                              <div class="row pt-1">
                                <!-- <div class="col-10 mb-3"> -->
                                  <h6>Recent</h6>
                                  <p class="text-muted">{{ current_user.about_author }}</p>
                                <!-- </div>  -->
                                
                              </div>
                              <div class="d-flex justify-content-start">
                                <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- End templates -->




    <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
        <h3>Dashboard</h3>
        <div class="row">

            <div class="col-4">
                {% if current_user.profile_pic %}
                  <img src="{{ url_for('static', filename='img/' + current_user.profile_pic )}}" alt="">
                {% else %}
                  <img src="{{ url_for('static', filename='img/default-profile-pict.png')}}" alt="">
                {% endif %}

            </div>


            <div class="col-8">
                <p>You Are Logged In</p>
                <p>{{ current_user.name }}</p>
                <p>{{ current_user.username }}</p>
                <p>{{ current_user.id }}</p>
                <p>{{ current_user.email }}</p>
                <p>{{ current_user.organization }}</p>
                <p>{{ current_user.profile_pic }}</p>
                <p>{{ current_user.about_author }}</p>
                
                <a class="btn btn-secondary btn-sm" href="{{ url_for('update', id=current_user.id) }}">Update</a>
        
                <!-- Button trigger modal -->
                <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ current_user.id}}">
                    Delete
                </a>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ current_user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User <strong>{{ current_user.name }}</strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Apakah anda yakin untuk menghapus user <strong>{{ current_user.name }}</strong>
                            </div>
                            <div class="modal-footer">
                            <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                            <a class="btn btn-danger" href="{{ url_for('delete', id=current_user.id) }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
    
</div>

{% endblock %}