{% extends 'base.html' %}

{% block content %}

    <div class="container">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ name }}</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

        <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
            <h3>{{ journal.title }}</h3>
            <p>Penulis : {{ journal.penulis.name }}</p>
            <p>{{ journal.slug }}</p>
            <p>{{ journal.date_posted }}</p>
            <p>{{ journal.content }}</p>
        </div> 
        <a href="{{ url_for('journals')}}" type="button" class="btn btn-outline-secondary">Kembali</a>
        {% if journal.penulis.id == current_user.id %}
            <a href="{{ url_for('edit_journal', id=journal.id)}}" type="button" class="btn btn-outline-info">Edit Jurnal</a>
            <a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ journal.id}}">
                Hapus Jurnal
            </a>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ journal.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Hapus Jurnal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Apakah anda yakin untuk menghapus jurnal</p>
                        <p><strong>{{ journal.title }}</strong></p> 
                    </div>
                    <div class="modal-footer">
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    <a class="btn btn-danger" href="{{ url_for('delete_journal', id=journal.id) }}">Delete</a>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}



        </div>

{% endblock %}