{% extends 'base.html' %}

{% block content %}

<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ name }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    {% if id == current_user.id %}
    <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
        <h3>Update user</h3>
        ID to update: {{ id }} <br>
        Current ID: {{ current_user.id }}
            <br>
            <form action="/update/{{ name_to_update.id }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
    
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=name_to_update.name) }}
                <br>
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.username) }}
                <br>
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=name_to_update.email) }}
                <br>
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.username) }}
                <br>
                {{ form.organization.label(class="form-label") }}
                {{ form.organization(class="form-control", value=name_to_update.organization) }}
                <br>
                <label for="about_author" class="form-label">Tentang Penulis</label>
                <textarea id="about_author" name="about_author" rows="7" class="form-control">{{ name_to_update.about_author }}</textarea>
                <br>
                {{ form.profile_pic.label(class="form-label") }}
                {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
                <br>
                {{ form.submit(class="btn btn-primary") }}

                <!-- Button trigger modal -->
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ id }}">
                    Delete
                </a>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete User <strong>{{ name_to_update.name }}</strong></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Apakah anda yakin untuk menghapus user <strong>{{ name_to_update.name }}</strong>
                        </div>
                        <div class="modal-footer">
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                        <a class="btn btn-danger" href="{{ url_for('delete', id=id) }}">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
    </div>
    {% else %}
    <div class="shadow p-3 mb-5 mt-3 bg-body-tertiary rounded bg-light">
        <h1 class="text-danger">Akses Ditolak !</h1>
        <h3>Maaf Anda tidak punya hak akses untuk ini</h3>
        <p>{{ id }}</p> <br>
        <p>{{ current_user.id }}</p>
    </div>

    {% endif %}


</div>

{% endblock %}